@page "/athletlist"
@using FSPApi.Models;
<h3>AthletList</h3>

<table>
    <thead>
        <tr>
            <th>Login</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Athlete athlet in list)
        {
            <tr>
                <td>@athlet.Login</td>
                <td>@athlet.Rating</td>
            </tr>
        }
        </tbody>
    </table>

@code {
    private Athlete[] list { get; set; }
    protected override async Task OnInitializedAsync()
    {
        list = new HttpClient().GetFromJsonAsync<Athlete[]>("https://localhost:7231/api/Athletes/list").Result;
    }
}
