@page "/userpage"
@using FSPApi.Models;
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.Web;
<PageTitle>ФНС</PageTitle>
<p>@_athelete.Login</p>
<p>@_athelete.Password</p>
@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Mode { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string Id { get; set; }
    private Athlete _athelete = new();
}
