@page "/registration"
@inject NavigationManager NavigationManager
@using FSPApi.Models;
@using Newtonsoft.Json
@using System.Text

<PageTitle>Регистрация спортсмена</PageTitle>
<EditForm Model="@athlete" OnSubmit="@Register">
    <h3>Регистрация спортсмена</h3>
    <InputText class="form-control" placeholder="Введите ваш логин" @bind-Value="athlete.Login"></InputText>
    <InputText class="form-control" type="password" placeholder="Введите ваш пароль" @bind-Value="athlete.Password"></InputText>
    <button class="btn btn-primary" type="submit">Register</button>
    <a href="">У вас уже есть аккаунт? - Тогда авторизуйтесь!</a>
</EditForm>

@code {
    private Athlete athlete = new() { Pasport = "", Rating = 0, Image = ""};
    private async Task Register()
    {
        Uri url = new("https://localhost:7231/api/User/regathlete");
        HttpContent content = new StringContent(JsonConvert.SerializeObject(athlete), Encoding.UTF8, "application/json");
        HttpResponseMessage respose = await new HttpClient().PostAsync(url, content);
        if (respose.IsSuccessStatusCode)
            NavigationManager.NavigateTo("");
    }
}
